#game-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;

  #subtitle {
    flex-grow: 1;

    h2 {
      font-weight: bold;
      font-size: 1rem;
      line-height: 1;
      padding: 0;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 0;
      line-height: 1.5;
    }
  }
}
